<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{generic/main}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="maincontent">
    <div class="card row col-6 justify-content-center bg-light shadow-sm py-5">
        <div class="card-body">
            <form method="post" class="row col-12 justify-content-center" th:action="@{/user/{username}/change_password(username=${user.username})}" th:object="${userPasswordHelper}">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"
                />
                <div class="row col-10 justify-content-center mb-2">
                    <label for="oldPassword" class="form-label col-5 fw-bold my-auto text-end">Old Password</label>
                    <input id="oldPassword" name="oldPassword" type="password" class="form-control d-inline w-50" th:field="*{oldPassword}"/>
                                <ul th:if="${#fields.hasErrors('oldPassword')}" class="alert alert-danger mb-0 mt-1 p-1 ps-4">
                        <li th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="row col-10 justify-content-center mb-2">
                    <label for="password" class="form-label col-5 fw-bold my-auto text-end">New Password</label>
                    <input id="password" name="password" type="password" class="form-control d-inline w-50" th:field="*{password}"/>
                    <ul th:if="${#fields.hasErrors('password')}" class="alert alert-danger mb-0 mt-1 p-1 ps-4">
                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="row col-10 justify-content-center mb-2">
                    <label for="password2" class="form-label col-5 fw-bold my-auto text-end">New Password (again)</label>
                    <input id="password2" name="password2" type="password" class="form-control d-inline w-50" th:field="*{password2}"/>
                                <ul th:if="${#fields.hasErrors('password2')}" class="alert alert-danger mb-0 mt-1 p-1 ps-4">
                        <li th:each="err : ${#fields.errors('password2')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="row col-12 justify-content-center">
                    <input type="submit" class="btn btn-lg col-5 btn-primary fw-bold mb-2" value="Update Password">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>