<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{generic/main}"
>
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>
<div layout:fragment="maincontent">
  <div class="card">
    <div class="card-title">
      <h5>Forbidden</h5>
    </div>
    <div class="card-body">
      <p>The requested action could not be completed due to insufficient privileges or constraints being triggered.</p>
    </div>
  </div>
</div>
</body>
</html>