<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{generic/main}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="'Insurance Detail' + ${insurance.numberPlate}">Insurance Detail</title>
</head>
<body>
<div layout:fragment="maincontent">
    <!--        <div class="row col-8 mb-0 pb-0 ps-0">-->
    <!--            <a class="btn btn-secondary col-auto rounded-0 rounded-top" th:href="@{/payment}">All Payments</a>-->
    <!--        </div>-->
    <div class="row col-8 mb-0 pb-0 ps-0" sec:authorize="hasAuthority('StandardClient')">
        <a class="btn btn-secondary col-auto rounded-0 rounded-top" th:href="@{/}">Dashboard</a>
    </div>
    <div class="row col-8 mb-0 pb-0 ps-0" sec:authorize="hasAuthority('AdministratorClient')">
        <a class="btn btn-secondary col-auto rounded-0 rounded-top" th:href="@{/insurance}">All Insurance</a>
    </div>
    <div class="card row col-8 justify-content-center bg-light rounded-0 rounded-bottom rounded-end shadow-sm p-3 m-0">
        <div class="card-title mt-2">
            <h4 class="text-center">User Details</h4>
        </div>
        <div class="card-body row col-12 justify-content-center">
            <div class="col-10" th:object="${insurance}">
                <p>NumberPlate: <span th:text="${insurance.numberPlate}"> None</span></p>
                <p>Model-Brand-Year: <span th:text="${insurance.getInfoVehicle()}">None</span></p>
                <p>Valuation: <span th:text="${insurance.valuation}">None</span></p>
                <p>Name: <span th:text="${insurance.client.name}">None</span></p>
            </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>