<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{generic/main}"
>
<head>
    <meta charset="UTF-8">
    <title>Add Insurance</title>
</head>
<body>
<div layout:fragment="maincontent">
    <div class="card row col-6 justify-content-center bg-light shadow-sm py-5">
        <div class="card-body">
            <form method="post" th:action='@{/insurance/form}' class="row col-12 justify-content-center">

                <h4 class="card-title ps-2 mt-3">Insurance Information</h4>

                    <div class="col-8">
                        <label for="numberPlate" class="form-label col-12 fw-bold my-auto">Number Plate</label>
                        <input id="numberPlate" name="numberPlate" type="text" class="form-control d-inline"  />

                    </div>
                <div class="col-8">
                    <br>
                    <label for="brand_model" class="form-label col-12 fw-bold my-auto">Year: <span id="carYear">1990</span></label>

                    <input type="range" min="1990" max="2023" step="1" value="1990" oninput="updateYear(this.value)" >

                    <script>
                        function updateYear(Year) {
                            document.getElementById("carYear").innerHTML = Year;
                        }
                    </script>
                    <br>

                </div>
                    <div class="col-8">
                        <label for="brand_model" class="form-label col-12 fw-bold my-auto">Brand-Model</label>
                        <input id="brand_model" name="brand_model" type="text" class="form-control d-inline" />

                    </div>

                    <div class="col-8">
                        <label for="valuation" class="form-label col-12 fw-bold my-auto">Value</label>
                        <input id="valuation" name="valuation" type="text" class="form-control d-inline" />

                    </div>
                    <div class="col-8">
                        <label for="paymentMethod" class="form-label col-12 fw-bold my-auto">Payment Method</label>
                        <label>
                            <input type="radio" name="paymentOption" value="option1" checked onclick="document.getElementById('paymentMethod').value = 'Option 1';">
                            Quarterly
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="paymentOption" value="option2" onclick="document.getElementById('paymentMethod').value = 'Option 2';">
                            Biannual
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="paymentOption" value="option3" onclick="document.getElementById('paymentMethod').value = 'Option 3';">
                            Yearly
                        </label>
                        <br>
                        <input type="hidden" id="paymentMethod" name="paymentMethod" value="Option 1">


                    </div>



                <div class="row col-12 justify-content-center">
                    <div class="col-12" th:if="${param.error != null}">
                        <p class="text-center">Invalid credentials, please try again.</p>
                    </div>
                </div>

                <div class="row col-12 justify-content-center">
                    <input type="submit" class="btn btn-lg col-4 btn-primary fw-bold mb-2" value="Next Coverage">
                    <div class="col-12 text-center"> <a th:href="@{/insurance}" class="link-secondary"> view all insurance!</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>