<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{generic/main}"
>
<head>
    <meta charset="UTF-8">
    <title>Coverage Category List</title>
</head>
<body>
<div layout:fragment="maincontent">
    <div class="row col-9 justify-content-end mb-0 pb-0 pe-0">
        <a class="btn btn-primary col-auto rounded-0 rounded-top" data-bs-toggle="modal" data-bs-target="#formModal" href="#">Add Category</a>
    </div>
    <div class="card row col-9 justify-content-center bg-light rounded-0 rounded-bottom rounded-start shadow-sm mt-0">
        <div class="card-title ps-2 mt-3">
            <h4>All Categories</h4>
        </div>
        <div class="card-body px-4">
            <table class="table table-striped table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                <tr th:each="category : ${coverageCategories}">
                    <td th:text="${category.id}">None</td>
                    <th scope="row"><a class="link-secondary" th:text="${category.name}" th:href="@{/coverage/category/{coverageCategory}(coverageCategory = ${category.id})}">None</a></th>
                    <td th:text="${category.description}">None</td>
                    <th scope="row"><a class="link-secondary" th:href="@{/coverage/category/{coverageCategory}(coverageCategory = ${category.id})}">View Details</a></th>
                </tr>
            </table>
        </div>
    </div>
    <div th:insert="~{coverageCategory/form :: coverageCategory_form}"></div>
</div>
</body>
</html>